/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; justify-content: center; text-align: center;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-center{
    text-align: center;
    justify-content: center;
}
/*
for radio buttons
*/
.mat-radio-button ~ .mat-radio-button {
    margin-right: 16px;
  }

  
  
  