  
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">סה"כ מגיעים</th>
        <th scope="col">סה"כ לא מגיעים</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{numberOfComing}}</td>
        <td>{{numberOfNotComing}}</td>
      </tr>
    </tbody>
  </table>
<div class="scrollable">    
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">שם</th>
            <th scope="col">מגיע/לא מגיע</th>
            <th scope="col">כמות אנשים</th>
            <th scope="col">מספר פלאפון</th>
        </tr>
        </thead>
        <tbody *ngIf="guest">
                <tr *ngFor="let guest of guest; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{guest.name}}</td>
                    <td>{{guest.isComing}}</td>
                    <td>{{guest.numberOfPeople}}</td>
                    <td>{{guest.phone}}</td>
                </tr>
        </tbody>
    </table>
</div>

<div style="background-color:lightgoldenrodyellow; padding: 2%;">
  <h1>העלה רשימת מוזמנים</h1>
    <input 
      style="display: none;"
      class="bg-dark text-light btn btn-light" 
      type="file" 
      (change)="onFileSelected($event)"
      #fileInput>
    <button 
      type="button" 
      class="btn btn-outline-dark"
      (click)="fileInput.click()">בחר קובץ</button>
    <button 
      class="btn btn-outline-success" 
      style="margin-right: 4px;" 
      type="button" 
      (click)="onUpload()">העלה</button>
</div>
<div class="bg-light" style="padding: 1%;">
  <h1>שליחת הודעה מרוכזת לכל המוזמנים</h1>
  <div class="row d-flex justify-content-center" style="margin-left: 15%;margin-right: 15%;">
    <textarea #box cols="30" rows="10" placeholder="הוזמנת לאירוע של פלוני ופלונית.

האירוע יתקיים ביום שני בתאריך 19.10.21 באולמי - תמר,באשדוד.
אנא כנסו לקישור הבא:
וסמנו אם מגיע יש להכניס מספר פלאפון ומספר אנשים המגיעים.
במידה ולא מגיע סמן לא מגיע יש להכניס מספר פלאפון ומספר אנשים 0.
נשמח לראותכם!
הכניסה לאירוע תתאפשר בהצגת תו ירוק(מחוסנים חיסון שלישי/מחלימים/בדיקה שלילית)."></textarea>
    <div class="col d-flex justify-content-center">
    <button
      style="margin: 1%;"
      class="btn btn-outline-dark"
      (click)="sendRegularMessage(box.value)"
    >שלח הודעה רגילה</button>
    <button
      style="margin: 1%;"
      class="btn btn-outline-success"
      (click)="sentWhatsAppMessage(box.value)"
    >שלח הודעת וואצאפ</button>
  </div>
  </div>
</div>



